<div class="sidebar">
  <div class="container">
    <nav class="sidebar-nav">
			
			<div class="project">
			
				<a href="{{ site.baseurl }}">
					<img src="{{ site.baseurl }}{{ site.imageurl }}/modbusscope/modbusscope_icon.svg" width="128" alt="ModbusScope icon">
				</a>
			
		    {% comment %}
		      The code below dynamically generates a sidebar nav of pages with
		      `layout: page` in the front-matter. See readme for usage.
		    {% endcomment %}

		    {% assign pages_list = site.pages | sort:"weight"  %}
		    {% for node in pages_list %}
		      {% if node.title != null %}
		        {% if node.layout == "page" %}
			        {% if node.project == "modbusscope" %}
			          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
			        {% endif %}
		        {% endif %}
		      {% endif %}
		    {% endfor %}
			</div>	

    </nav>
  </div>
</div>
